
/* Global Styles
--------------------------------*/
body{
    background-color: white;
}

.content_wrap {
    max-width : 1000px;
    width: 80%;
    margin : 0 auto;
    padding : 60px 0;
}

img {
    width : 300px;
    height: 150px;
}

/* Work experience
--------------------------------*/
.work_experience {
    background: #A1C6D7;
}

.job_container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
}
/* Education Info*/
.baground {
    background-size: cover;
}
