/* Global Styles
--------------------------------*/
body {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

.content_wrap {
    max-width: 1000px;
    width: 80%;
    margin: 0 auto;
    padding: 60px 0;
}

img {
    width: 300px;
    height: 150px;
}

.content_wrap h2 {
    margin: 0px;
    font-family: 'work sans',cursive;
}

/* Work experience
--------------------------------*/
.work_experience_background {
    background-image: url("/Users/badugugowrishankar/Desktop/Projects/portfolio/my-react-app/public/images/bagroundWorkExperience.avif");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.work_experience {
    font-weight: 500;
}

.work_experience p {
    font-family: 'Montserrat', sans-serif;
}

.work_experience h4 {
    font-family: 'Open Sans';
    font-weight: 800;
    font-size: large;
}

.work_experience h2 {
    margin-top: 8px;
}

.work_experience h3 {
    font-family: 'Georgia', cursive;
    margin: 0px;
    background-color: rgba(218, 143, 5, 0.711);
    padding: 8px;
    border-radius: 4px;
    max-width: 160px;
}

.job_container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
    border-bottom: 1px dashed grey;
    padding: 25px 0;
}

.job_item img {
    margin-top: 16px;
    width: 60px;
    height: 30px;
    border-radius: 4px;
}

.company_info {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.job_summary {
    line-height: 1.6;
    font-weight: 510;
    font-size: medium;
}

/* Education Info*/
.baground {
    background-size: cover;
}