/* Global Styles
--------------------------------*/
body {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

.content_wrap {
    max-width: 1000px;
    width: 80%;
    margin: 0 auto;
    padding: 60px 0;
}

h2 {
    font-family: 'Open Sans', cursive;
}

.content_wrap h3 {
    font-family: 'Open Sans', cursive;
    color: rgb(0, 155, 183);
}



/* Projects
--------------------------------*/

/* .projects{
    background-image: url("/Users/badugugowrishankar/Desktop/Projects/portfolio/my-react-app/public/images/projects_background.avif");
    height: 100vh;
    background-position: center;
    background-size: cover;  
    background-repeat: repeat;
} */

.projects {
    background-image: url("/Users/badugugowrishankar/Desktop/Projects/portfolio/my-react-app/public/images/bagroundWorkExperience.avif");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.projects .btn {
    color: #F7FFF7;
    background: rgb(0, 155, 183);
    text-decoration: None;
    padding: 8px;
    border-radius: 4px;
    margin: 4px;
}

.projects a:hover {
    background: rgb(0, 155, 183, 80%);
}

.projects_item {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    border-bottom: 1px dashed #343434;
    padding: 25px 0;
}


.projects_item SimpleImageSlider {
    float: left;
    margin: auto auto;
    border-radius: 10%;
}

.projects_item h3 {
    margin-top: 0;
}

.project_description {
    margin-left: 20px;
    text-align: justify;
}