/* Nav Bar
--------------------------------*/
.nav_bar{
    background-color: rgb(0, 155, 183);
    color: white;
    font-family: 'Open Sans';
}

.nav_bar a{
    text-decoration: none;
    color: white;
}

.nav_bar a :hover{
    background-color: grey;
}

.nav_bar_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav_bar_about{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    font-family: 'Open Sans', cursive;
}

.nav_bar_about h3{
    margin-right: 10px;
}

.nav_bar_about h5{
    margin-top: 22px;
}


.nav_bar_sub_content{
    display: flex;
    flex-direction: row;
    justify-content:end;
    padding-top : 4px;
}

.nav_bar ul{
    list-style-type: none;
}

.nav_bar img{
    margin : 6px 10px 6px 30px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
}
