/* Nav Bar
--------------------------------*/

.nav_bar {
    color: white;
    font-family: 'Open Sans';
}

.nav_bar a {
    text-decoration: none;
    color: white;
}

.nav_bar a :hover {
    background-color: grey;
}

.nav_bar_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav_bar_about {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    font-family: 'Open Sans', cursive;
}

.nav_bar_about h2 {
    margin-right: 10px;
}

.nav_bar_about h4 {
    margin-top: 24px;
}


.nav_bar_sub_content {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-top: 4px;
    margin-right: 20px;
}

.nav_bar ul {
    list-style-type: none;

}

.nav_bar ul li ul {
    position: absolute;
}

.nav_bar img {
    margin: 6px 10px 6px 30px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
}


.nav_bar_sub_content a:hover {
    position: relative;
}


.nav_bar_sub_content a:hover {
    padding: 8px;
    background-color: rgba(218, 143, 5, 0.711);
    border-radius: 8px;
}