/* Global Styles

--------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Charm&family=Lato&family=Poppins:wght@200&family=Ubuntu:wght@300&display=swap');

body {
    background-image: url("images/bagroundWorkExperience.avif");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Satisfy';
    font-size: 15px;
    color: white;
}

.content_wrap {
    max-width: 1100px;
    width: 90%;
    margin: 0 auto;
    padding: 60px 0;
}

img {
    width: 300px;
    height: 150px;
}

/* About section
--------------------------------*/

.about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about img {
    padding: 25px;
    margin-top: 55px;
    margin-right: 25px;
    width: 325px;
    height: 500px;
    border-radius: 20%;
}

.about p {
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 28px;
    font-weight: 900;
    font-size: medium;
}

.about h4 {
    margin-bottom: 0px;
    font-family: 'Times New Roman';
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 2;
}

.bold {
    font-weight: 600;
}

.title {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.title h1 {
    margin: 0px;
    padding: 4px;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: xxx-large;
}

.about h3 {
    font-family: 'Poppins', sans-serif;
    font-size: x-large;
    margin: 0px;
}

.title h3 {
    margin: 0px;
    padding: 4px;
    font-family: 'Poppins', sans-serif;
    font-size: small;
}

.cover img {
    width: 100%;
    max-height: 250px;
}



/* Skills Section*/
.skills {
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    gap: 20px
}

.skills_item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.skills_item h4{
    margin: 0;
}

.progress_bar {
    width: 200px;
    height: 30px;
    background-color: white;
    border-radius: 12px;
}

.progress_bar_fill {
    width: 80%;
    height: 64%;
    background-color: rgb(63, 62, 62);
    border-radius: 10px;
    padding: 4px;
    border: groove;
    font-size: small;
}

.python_skill{
    width: 85%;
    background-color: rgb(63, 62, 62);  
}

.csharp_skill{
    width: 70%;
    background-color: rgb(63, 62, 62);  
}

.sql_skill{
    width: 85%;
    background-color: rgb(63, 62, 62);  
}

.plsql_skill{
    width: 65%;
    background-color: rgb(63, 62, 62);  
}

.javascript_skill{
    width: 80%;
    background-color: rgb(63, 62, 62);  
}

.html_skill{
    width: 85%;
    background-color: rgb(63, 62, 62);  
}

.css_skill{
    width: 85%;
    background-color: rgb(63, 62, 62);  
}

.react_skill{
    width: 85%;
    background-color: rgb(63, 62, 62);  
}

.node_skill{
    width: 70%;
    background-color: rgb(63, 62, 62);  
}

.express_skill{
    width: 70%;
    background-color: rgb(63, 62, 62);  
}

.dotnet_skill{
    width: 70%;
    background-color: rgb(63, 62, 62);  
}

.postgre_skill{
    width: 85%;
    background-color: rgb(63, 62, 62);  
}

.sqlserver_skill{
    width: 85%;
    background-color: rgb(63, 62, 62);  
}

.mysql_skill{
    width: 85%;
    background-color: rgb(63, 62, 62);  
}

.oraclesql_skill{
    width: 85%;
    background-color: rgb(63, 62, 62);  
}

.mongodb_skill{
    width: 50%;
    background-color: rgb(63, 62, 62);  
}

.git_skill{
    width: 70%;
    background-color: rgb(63, 62, 62);  
}

.vscode_skill{
    width: 70%;
    background-color: rgb(63, 62, 62);  
}

.vs2022_skill{
    width: 70%;
    background-color: rgb(63, 62, 62);  
}

.bitbucket_skill{
    width: 70%;
    background-color: rgb(63, 62, 62);  
}