/* Global Styles

--------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Charm&family=Lato&family=Poppins:wght@200&family=Ubuntu:wght@300&display=swap');

.bodyFull {
    background-color: #05181A;
}


.content_wrap {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding: 60px 0;
}

img {
    width: 300px;
    height: 150px;
}

h3 {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* About section
--------------------------------*/
.about {
    margin-top: 25px;
    overflow: hidden;
    padding: 20px;
    background-color: #05181A;
    box-shadow: 0px 6px 6px #6DAAC0;

}

.about img {
    float: left;
    margin-right: 20px;
    padding: 25px;
    margin-top: 55px;
    margin-right: 25px;
    width: 325px;
    height: 500px;
    border-radius: 20%;
}


.about p {
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    line-height: 28px;
    font-weight: 900;
    font-size: medium;
}

.about h4 {
    margin-bottom: 0px;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    line-height: 2;
}

.bold {
    font-weight: 600;
}

.title {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.title h1 {
    margin: 0px;
    padding: 4px;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: xxx-large;
}

.about h3 {
    font-family: 'Poppins', sans-serif;
    font-size: x-large;
    margin: 0px;
}

.title h3 {
    margin: 0px;
    padding: 4px;
    font-family: 'Poppins', sans-serif;
    font-size: small;
}

.cover img {
    width: 100%;
    max-height: 250px;
}

@media only screen and (max-width: 480px) {
    .title {
        margin-top: 50px;
    }
}

@media only screen and (max-width: 420px) {
    .about img {
        width: 300px;
        height: 480px;
    }
}

@media only screen and (max-width: 400px) {
    /* .title {
        margin-top: 60px;
    } */

    .about img {
        width: 280px;
        height: 480px;
    }
}



@media only screen and (max-width: 360px) {
    /* .title {
        margin-top: 60px;
    } */

    .about img {
        width: 280px;
        height: 480px;
    }
}